.env
.DS_Store
__pycache__/
.mypy_cache/
.ruff_cache/
.pytest_cache/
.vscode/
.venv/
venv/

*.egg-info/
build/
dist/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
*.eggs

poetry.lock

.coverage
coverage.xml
htmlcov/

.ipynb_checkpoints

.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
